<section>
  @if (userList) {
  <p-table #dt [value]="userList" styleClass="p-datatable-striped"
    [tableStyle]="{ 'max-width': '100vw , padding-bottom: 1.25rem' }" [scrollable]="true" scrollHeight="450px"
    [paginator]="true" [rows]="5" [showCurrentPageReport]="true" columnResizeMode="expand"
    [globalFilterFields]="['nationalId']" [rowsPerPageOptions]="[5, 10, 20]"
    currentPageReportTemplate="عرض {first}  الى  {last}   من {totalRecords} سبب">


    <ng-template pTemplate="caption">
      <div class="p-toolbar-group-start pt-0">
        <button pButton [raised]="true" icon="pi pi-plus" pTooltip="إضافة" class=" btnIcon defaultBtnColor"
          (click)="showAddModal = true;"></button>
        <button pButton icon="pi pi-print" [raised]="true" class="mr-2 btnIcon defaultBtnColor"
          pTooltip="طباعة"></button>
      </div>
      <div class="flex">
        <p-iconField iconPosition="left" class="ml-auto mt-1" pTooltip="بحث">
          <p-inputIcon>
            <i class="pi pi-search"></i>
          </p-inputIcon>
          <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')"
            placeholder=" بحث بـ / الرقم القومى" class="searchInput" class="searchInput" />
        </p-iconField>
        <button pButton icon="pi pi-refresh" [raised]="true" class="mr-2 btnIcon defaultBtnColor"
          pTooltip="اعادة تحميل" (click)="reloadPage()"></button>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>الكود</th>
        <th>الاسم</th>
        <th>الرقم القومى</th>
        <th>اسم المستخدم</th>
        <th>حالة المستخدم</th>
        <th style="width: 5rem"></th>
        <th style="width: 5rem"></th>
        <th style="width: 5rem"></th>
      </tr>

    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{user.code}}</td>
        <td>{{user.fullName}}</td>
        <td>{{user.nationalId}}</td>
        <td>{{user.userName}}</td>
        @if (user.isActive == false) {
        <td>
          <p-badge value="غير نشط" severity="danger" />
        </td>
        }@else{
        <td>
          <p-badge value="نشط" severity="success" />
        </td>
        }

        <td><button type="button" [raised]="true" class="btnIcon defaultBtnColor" pButton pRipple icon="pi pi-pencil"
            pTooltip="تعديل" (click)="showEditModal = true;">
          </button></td>
        <td><button type="button" [raised]="true" class="btnIcon defaultBtnColor" pButton pRipple icon="pi pi-key"
            pTooltip="إعادة تعيين كلمة المرور">
          </button></td>
        <td>
          <button type="button" [raised]="true" class="btnIcon" pButton pRipple icon="pi pi-ban" severity="danger"
            pTooltip="حظر المستخدم" (click)="banUser($event)">
          </button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">لا يوجد بيانات لعرضها</td>
      </tr>
    </ng-template>
  </p-table>
  }
  @else {
  <div class="row pt-5 mt-5">
    <div class="col-md-12 mt-5" style="margin: auto;display: flex;justify-content: center;">
      <i class='bx bx-error fa-10x'></i>
    </div>
    <div class="col-md-12" style="margin: auto;display: flex;justify-content: center;">
      <h4>من فضلك تأكد من الاتصال بالخادم</h4>
    </div>
  </div>
  }

  <!-- إضافة مستخدم -->
  <p-dialog header="إضافة مستخدم " [modal]="true" [(visible)]="showAddModal" [style]="{ width: '60vw' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [draggable]="false" [resizable]="false">
    <div class="flex align-items-center gap-3 mb-3 mt-1 row">
      <div class="row">
        <div class="col-md-6 gap-2 mb-2">
          <label for="userName" [ngModel]="" class="font-semibold  block mb-2 w-3rem">الاسم </label>
          <input pInputText id="userName" autocomplete="off" class="w-100" />
        </div>
        <div class="col-md-6 gap-2 mb-2">
          <label for="nationalId" class="font-semibold  block mb-2 w-3rem">الرقم القومى </label>
          <input pInputText id="nationalId" autocomplete="off" class="w-100" />
        </div>
      </div>
      <span class="bg-secondary-subtle block fw-bold mb-2 p-2 p-text-secondary w-100">اختر الادارات الخاصة
        بالمستخدم</span>
      <div class="row">
        <div class="col-md-12">
          <p-checkbox value="selectAll" inputId="userDep" />
          <label for="userDep" class="fw-bold">تحديد الكل </label>
        </div>
      </div>
      <div class="row">
        @if (mainDepartements.length > 0) {
        @for (dep of mainDepartements; track $index) {
        <div class="col-md-3">
          <p-checkbox value="{{dep.id}}" inputId="userDep" />
          <label for="userDep" class="fw-bold"> {{dep.name}} </label>
        </div>
        }
        }

      </div>
      <span class="bg-secondary-subtle block fw-bold mb-2 p-2 p-text-secondary w-100">بيانات دخول المستخدم</span>
      <div class="row  align-items-center">
        <div class="col-md-6 gap-2 mb-2">
          <label for="userNAme" class="font-semibold  block mb-2 w-3rem">إسم المستخدم </label>
          <input pInputText id="userNAme" autocomplete="off" class="w-100" />
        </div>
        <div class="col-md-6 gap-2 pt-4">
          <p-checkbox value="selectAll" inputId="activateUser" />
          <label for="activateUser" class="fw-bold">تفعيل المستخدم </label>
        </div>
      </div>
      <span class="bg-secondary-subtle block fw-bold mb-2 p-2 p-text-secondary w-100">الادوار</span>
      <div class="row">
        <div class="col-md-12 flex flex-wrap gap-3">
          <div class="field-checkbox">
            <p-radioButton name="userRole" [value]=" " [(ngModel)]="selectedRole"
              [ngModelOptions]="{standalone: true}" />
            <label class="ml-2">admin</label>
          </div>
          <div class="field-checkbox">
            <p-radioButton name="userRole" [value]="false" [(ngModel)]="selectedRole"
              [ngModelOptions]="{standalone: true}" />
            <label class="ml-2">user</label>
          </div>
          <div class="field-checkbox">
            <p-radioButton name="userRole" [value]="true" [(ngModel)]="selectedRole"
              [ngModelOptions]="{standalone: true}" />
            <label class="ml-2">employee</label>
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-content-start gap-2" style="direction: ltr;">
      <p-button label="الغاء" severity="secondary" (click)="showAddModal = false;" />
      <p-button label="حفظ" />
    </div>
  </p-dialog>
  <!-- تعديل مستخدم -->
  <p-dialog header="تعديل مستخدم " [modal]="true" [(visible)]="showEditModal" [style]="{ width: '60vw' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [draggable]="false" [resizable]="false">
    <div class="flex align-items-center gap-3 mb-3 mt-1 row">
      <div class="row">
        <div class="col-md-6 gap-2 mb-2">
          <label for="userName" [ngModel]="" class="font-semibold  block mb-2 w-3rem">الاسم </label>
          <input pInputText id="userName" autocomplete="off" class="w-100" />
        </div>
        <div class="col-md-6 gap-2 mb-2">
          <label for="nationalId" class="font-semibold  block mb-2 w-3rem">الرقم القومى </label>
          <input pInputText id="nationalId" autocomplete="off" class="w-100" />
        </div>
      </div>
      <span class="bg-secondary-subtle block fw-bold mb-2 p-2 p-text-secondary w-100">اختر الادارات الخاصة
        بالمستخدم</span>
      <div class="row">
        <div class="col-md-12">
          <p-checkbox value="selectAll" inputId="userDep" />
          <label for="userDep" class="fw-bold">تحديد الكل </label>
        </div>
      </div>
      <div class="row">
        @if (mainDepartements.length > 0) {
        @for (dep of mainDepartements; track $index) {
        <div class="col-md-3">
          <p-checkbox value="{{dep.id}}" inputId="userDep" />
          <label for="userDep" class="fw-bold"> {{dep.name}} </label>
        </div>
        }
        }

      </div>
      <span class="bg-secondary-subtle block fw-bold mb-2 p-2 p-text-secondary w-100">بيانات دخول المستخدم</span>
      <div class="row  align-items-center">
        <div class="col-md-6 gap-2 mb-2">
          <label for="userNAme" class="font-semibold  block mb-2 w-3rem">إسم المستخدم </label>
          <input pInputText id="userNAme" autocomplete="off" class="w-100" />
        </div>
        <div class="col-md-6 gap-2 pt-4">
          <p-checkbox value="selectAll" inputId="activateUser" />
          <label for="activateUser" class="fw-bold">تفعيل المستخدم </label>
        </div>
      </div>
      <span class="bg-secondary-subtle block fw-bold mb-2 p-2 p-text-secondary w-100">الادوار</span>
      <div class="row">
        <div class="col-md-12 flex flex-wrap gap-3">
          <div class="field-checkbox">
            <p-radioButton name="userRole" [value]=" " [(ngModel)]="selectedRole"
              [ngModelOptions]="{standalone: true}" />
            <label class="ml-2">admin</label>
          </div>
          <div class="field-checkbox">
            <p-radioButton name="userRole" [value]="false" [(ngModel)]="selectedRole"
              [ngModelOptions]="{standalone: true}" />
            <label class="ml-2">user</label>
          </div>
          <div class="field-checkbox">
            <p-radioButton name="userRole" [value]="true" [(ngModel)]="selectedRole"
              [ngModelOptions]="{standalone: true}" />
            <label class="ml-2">employee</label>
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-content-start gap-2" style="direction: ltr;">
      <p-button label="الغاء" severity="secondary" (click)="showEditModal = false;" />
      <p-button label="حفظ" />
    </div>
  </p-dialog>

  <p-toast />
  <p-confirmDialog />
</section>
