.darkColor {
  color: #2d3e50;
}

.gpiColor {
  color: #0cc29a;
}
.gpiBackColor {
  background-color: #0cc29a !important;
}
.gpiDarckBackColor {
  background-color: #2d3e50;
}

.white {
  color: #f3f3f3;
}

.text-monospace {
  border-bottom: solid;
}

::ng-deep .p-button {
  width: 100%;
  color: #f3f3f3;
  background-color: #0cc29a;
}
::ng-deep .p-float-label input {
  width: 100%;
  height: 45px;
  border-radius: 3px;
  border-color: #0cc29a;
}
::ng-deep .p-float-label label {
  font-weight: 600;
  color: #2d3e50;
}
