<section>
  <div class="row pt-5">
    <div class="col-12 ">
      <div class="row pt-3">
        <div class="col-4">
          <a href="/fixMeters" class="mainCard">
            إضافة أعطال العدادات
          </a>
        </div>
        <div class="col-4">
          <a href="/usersPermissions" class="mainCard">
           صلاحيات المستخدمين
          </a>
        </div>
        <div class="col-4" >
          <a href="/reasons" class="mainCard">
            أسباب رفع العداد
          </a>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-4">
          <a href="/usersSettings" class="mainCard">
            إدارة المستخدمين
          </a>
        </div>
        <div class="col-4">
          <a href="/dataTransfer" class="mainCard">
            نقل البيانات بوصلة ضوئية
          </a>
        </div>
        <div class="col-4">
          <a href="/cards" class="mainCard">
           إصدار كروت التحكم
          </a>
        </div>
      </div>
    </div>
  </div>

</section>

<pre>
  <code>
    {{ user | json}}
  </code>
</pre>

<button (click)="logout()">Logout</button>
<button (click)="refreshToken()">Refresh Token</button>



